@import '../../styles/block_mixin.scss';
@import '../../styles/variables.scss';

.disable {
    transition: none !important;
}

.clock-container {
    @include default-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-back-block {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $second-color-dark;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-face {
    position: relative;
    width: 95%;
    height: 95%;
    background-color: whitesmoke;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-digital {
    position: absolute;
    background-color: black;
    color: $terminal-green;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 20px;
    padding: 0.5rem;
    bottom: 3rem;
    border-radius: 25%;
    border: $second-color 3px groove;
    box-shadow: -1px 2px 5px 1px $second-color-dark;
    z-index: 0;
    width: 5.5rem;

}

.clock-hour-marker {
    position: absolute;
    width: 2%;
    height: 98%;
    background-color: $second-color-dark;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        background-color: whitesmoke;
        width: 100%;
        height: 95%;
        padding: 0 0.3rem 0 0.3rem;
    }
}

.clock-hand {
    position: absolute;
    transform-origin: bottom center;
    z-index: 1;
    bottom: 50%;

    transition: 1s all;
    // will use the rotate to move the clock to where it needs to be
}

.clock-second {
    background-color: red;
    width: 1%;
    height: 45%;
};

.clock-minute {
    background-color: $second-color-dark;
    height: 40%;
    width: 1%;
    
}

.clock-hour {
    width: 1%;
    height: 33%;
    background-color: $main-color-dark;
}

.clock-cap {
    position: absolute;
    background-color: $second-color-dark;
    width: 6%;
    height: 6%;
    border-radius: 50%;
    z-index: 10;
}