@import "./variables.scss";

@mixin default-block {
    background-color: $second-color;
    
    width: 20rem;
    height: 20rem;
    
    
    border-radius: 15%;
    padding: 1rem;
    margin: 1rem;
};