@import "./variables.scss";

@mixin default-block {
    background-color: $second-color;
    aspect-ratio: 1/1;
    
    width: 20rem;
    height: 20rem;
    
    
    border-radius: 15%;
    padding: 1rem;
    margin: 1rem;
};


@keyframes terminal-glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e608, 0 0 40px #00e608, 0 0 50px #00e608, 0 0 60px #00e608, 0 0 70px #00e608;
      }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #6eff4d, 0 0 40px #6eff4d, 0 0 50px #6eff4d, 0 0 60px #6eff4d, 0 0 70px #6eff4d, 0 0 80px #6eff4d;
    }
}

@mixin terminal {
    font-family: digi-normal, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: rgb(0, 255, 0);
    background-color: black;

    -webkit-animation: terminal-glow 3s ease-in-out infinite alternate;
    -moz-animation: terminal-glow 3s ease-in-out infinite alternate;
    animation: terminal-glow 3s ease-in-out infinite alternate;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}