@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.notes-block {
    @include default-block;
    position: relative;

    .notes-reader {
        display: flex;

        ol {
            position: absolute;
            left: 0.5rem;
            top: 3rem;
            overflow-y: auto;
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;  /* Firefox */
            &::-webkit-scrollbar { 
                display: none;  /* Safari and Chrome */
            }

            border-radius: 5px;

            margin-left: 1.5rem;
            height: 75%;
            
            background-color: $second-color;
            box-shadow: inset 0px -121px 90px -75px rgba(113, 92, 52, 0.75);

            li {
                border: 1px dotted $second-color-dark;
                border-left: 2px solid $second-color-dark;
                border-radius: 0 10px 10px 0;
                padding: 0.5rem;
                
                background-color: $second-color;
                color: whitesmoke;

                font-size: 18px;
                
                cursor: pointer;
                transition: all 500ms;
                &.notes-active {
                    background-color: $second-color-dark;
                    text-shadow: darkblue 1px 0 10px;
                }
            }
        }

        .notes-reader-box {
            position: absolute;
            top: 3rem;
            left: 4rem;

            font-family: cursive;
            font-size: 18px;

            background-color: whitesmoke;

            padding: 0.3rem;

            width: 14.2rem;
            height: 75%;
            border-radius: 5px;

            box-sizing: border-box;
            resize: none;
        }

        .notes-reader-options {
            z-index: 2;
            position: absolute;
            right: 0.7rem;
            top: 3rem;

            height: 5.5rem;

            background-color: transparent;

            display: flex;
            flex-direction: column;
            justify-content: space-between;


            button {
                border-radius: 20px;
                border-color: $second-color-dark;

                padding: 0.3rem;
                aspect-ratio: 1/1;
                width: 2.5rem;

                cursor: pointer;
                background-color: $second-color;

                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    background-color: transparent;
                    color: whitesmoke;
                    text-shadow: $second-color-dark 1px 0 10px;

                    &:hover {
                        text-shadow: $second-color-dark 1px 0 15px;
                    }
                }

            }
        }
    }
}

