@import '../../styles/block_mixin.scss';
@import '../../styles/variables.scss';

.calc-block {
    @include default-block;
    width: 19rem;
    height: 22rem;
}

.calc-body {
    background-color: $second-color;
    font-size: 28px;
    border-radius: 15px;
    height: 90%;
    margin: 1rem;
    padding-bottom: 0.5rem;
    box-shadow: -5px 5px 10px 1px $second-color-dark;

    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);

    .calc-res {
        grid-column-start: 1;
        grid-column-end: 5;

        border-radius: 5px;
        height: 70%;
        width: 90%;
        margin: 0.5rem 0 0 0;
        padding-left: 0.5rem;

        color: $terminal-green;
        background-color: black;
        font-family: $terminal-font;
        display: flex;
        align-items: center;
    }

    button {
        border-radius: 25px;
        width: 2.8rem;
        height: 2.8rem;
        background-color: $second-color-dark;
        color: $main-color;
        font-size: 26px;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        
        transition: all 500ms;

        &:hover {
            cursor: pointer;
        }
    }

    .calc-div {
        grid-row: 2;
        grid-column: 4;
    }

    .calc-row0 {
        grid-row: 2;
    }

    .calc-row1 {
        grid-row: 3;
    }

    .calc-row2 {
        grid-row: 4;
    }

    .calc-row3 {
        grid-row: 5;
    }

    .calc-row4 {
        grid-row: 6;
    }

    .active {
        color: rgb(0, 255, 0);
        background: rgb(20,20,20);
        font-size: 30px;
    }
}