@import '../../styles/variables.scss';

.header-main {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 5rem;
    color: $main-color;
    font-size: 2rem;


    .header-line {
        margin-top: 0.5rem;
        background-color: $second-color;
        width: 90%;
        height: 0.2rem;
        border-radius: 10%;
    }
}